{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Hero Section Wrapper -->
  <div class="hero-wrapper">
    
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Projects</h2>
        <ul>
          <li><a href="#">Bionic Hand</a></li>
          <li><a href="#">Aster Robot</a></li>
          <li><a href="#">Otto Robot</a></li>
          <li><a href="#">Dog Head</a></li>
          <li><a href="#">Home Automation</a></li>
          <li><a href="#">Humonoid Robot</a></li>
          <li><a href="#">Obstacle Avoidance Car</a></li>
          <li><a href="#">Real Time Clock</a></li>
        </ul>
      </div>

    <!-- Hero Section -->
<!-- Hero Section -->
<section class="hero-section">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'images/he1.png' %}" alt="Robotics Kit 1">
        <div class="shadow-box"></div>
        <div class="overlay">
          <h2>Seamless Connectivity, Anytime, Anywhere</h2>
          <p>Extend your reach with our selection of</p>
          <p>long-range wireless solutions</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/hero2.webp' %}" alt="Robotics Kit 2">
        <div class="overlay">
          <h2>Its all in the timing</h2>
          <p>Experience the future!</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/hero3.webp' %}" alt="Robotics Kit 3">
        <div class="shadow-box"></div>
        <div class="overlay">
          <h2>DIY Robot Kit</h2>
          <p>Build & code your robot!</p>
        </div>
      </div>
    </div>
    <!-- Pagination Bullets -->
    <div class="swiper-pagination"></div>
  </div>
</section>



  </div>
  <!-- Kit, Services and content cards-->
  <section class="kit-section">
    <div class="kit-container">
        <div class="kit-card">
            <div class="kit-text">
                <h3>KITS</h3>
                <ul>
                    <li><a href = "#">Starter Kits</a></li>
                    <li><a href = "#">Development Boards</a></li>
                    <li><a href = "#">Sensor Modules</a></li>
                    <li><a href = "#">DIY Projects</a></li>
                </ul>
            </div>
            <div class="kit-image">
              <img src="{% static 'images/kit.jpg' %}" alt="Robotics Kit 3">
            </div>
        </div>

        <div class="kit-card">
            <div class="kit-text">
                <h3>SERVICES</h3>
                <ul>
                    <li><a href = "#">Custom PCB Design</a></li>
                    <li><a href = "#">Prototyping Kits</a></li>
                    <li><a href = "#">Consulting Services</a></li>
                    <li><a href = "#">Technical Support</a></li>
                </ul>
            </div>
            <div class="kit-image">
              <img src="{% static 'images/services.jpg' %}" alt="Services">
            </div>
        </div>

        <div class="kit-card">
            <div class="kit-text">
                <h3>CONTENT</h3>
                <ul>
                    <li><a href = "#">Documentation</a></li>
                    <li><a href = "#">Video Tutorials</a></li>
                    <li><a href = "#">Tech Articles</a></li>
                    <li><a href = "#">Community Forum</a></li>
                </ul>
            </div>
            <div class="kit-image">
              <img src="{% static 'images/content.jpg' %}" alt="Services">
            </div>
        </div>
    </div>
</section>


  <!-- Technology Domains-->
  <section class="categories" id="categories">
    <h2 style = "font-size: xx-large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Technology Domains</h2>
    <div class="category-grid">
        <div class="category-card">
            <h3 style = "font-size:x-large; font-family:Verdana, Geneva, Tahoma, sans-serif;">Robotics</h3>
            <img src="{% static 'images/Robotics.png' %}" alt="Electronics">
            <p style = "font-size: 17px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
              Robotics projects involve creating robots with sensors, actuators, and controllers to complete tasks, from prototypes to industrial systems.
            </p>
        </div>
        <div class="category-card">
            <h3 style = "font-size:x-large;  font-family:Verdana, Geneva, Tahoma, sans-serif">Biotech</h3>
            <img src="{% static 'images/health.png' %}" alt="Health">
            <p style = "font-size: 17px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
              Biotechnology applies biological systems to develop innovations in health, agriculture, and industry, blending biology with genetics, biochemistry, and engineering.
            </p>
        </div>
        <div class="category-card">
            <h3 style = "font-size:x-large; font-family:Verdana, Geneva, Tahoma, sans-serif">Home Automation</h3>
            <img src="{% static 'images/home_auto.png' %}" alt="Home">
            <p style = "font-size: 17px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
              Home automation projects create systems to control lighting, temperature, security, and appliances remotely or automatically, enhancing convenience, efficiency, and security.
            </p>
        </div>
        <div class="category-card">
            <h3 style = "font-size:x-large">Drones</h3>
            <img src="{% static 'images/drones.png' %}" alt="Books">
            <p style = "font-size: 17px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Drone projects involve designing and programming UAVs for tasks like surveillance, delivery, or mapping using hardware and software for autonomous or remote flight.</p>
        </div>
    </div>
</section>

<!-- Featured Products -->
<section class="featured-products">
  <h2 style = "font-size: xx-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">&nbsp;&nbsp;&nbsp;Featured Guides</h2>
    <div class="product-grid">
        <div class="product-card">
            <a href = "/otto"><img src="{% static 'images/product1.jpg' %}" alt="Ottobot"></a>
            <h3 style = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight:500;">Ottobot</h3>
        </div>
        <div class="product-card">
            <img src="{% static 'images/product2.jpg' %}" alt="Bionic Hand">
            <h3 style = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight:500;">Bionic Hand</h3>
            
        </div>
        <div class="product-card">
            <img src="{% static 'images/product3.jpg' %}" alt="Product 3">
            <h3 style = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight:500;">Solar detector</h3>
            
        </div>
        <div class="product-card">
            <img src="{% static 'images/product4.jpg' %}" alt="Product 4">
            <h3 style = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight:500;">Asterbot</h3>
            
        </div>
    </div>
</section>
{% endblock %}
